@import "styles/variables";

.header {
  width: 100vw;
  background-color: $color;
  color: white;

  &__navigation {
    display: flex;
    justify-content: flex-end;

    &__item {
      padding: $space-0;
      opacity: 0.5;

      @media (max-width: $extra-small-display-breakpoint) {
        font-size: small;
      }
    
      &--selected {
        padding: $space-0;
        background-color: $light-color;
        font-weight: bold;

        @media (max-width: $extra-small-display-breakpoint) {
          font-size: small;
        }
      }

      &:hover {
        opacity: 1;
        background-color: $light-color;
      }
    }

    &__logo, 
    &__logo--selected {
      position: absolute;
      top: 0;
      left: 0;
      margin: $space-0;
      font-weight: bold;

      @media (max-width: $extra-small-display-breakpoint) {
        font-size: small;
      }
    }
  }
}

