@import "styles/variables";

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);  

  @media (max-width: $medium-display-breakpoint) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@mixin dynamic-col($number) {
  .col-#{$number} {
    grid-column: auto/span #{$number};

    @media (max-width: $medium-display-breakpoint) {
      grid-column: 1;
      width: 100%;
    }
  }
}

@for $i from 1 through 12 {
  @include dynamic-col($i);
}
