@import "styles/variables";

.external-link {
  padding: 1px 5px;
  border: 1px solid $color;
  border-radius: 3px;
  background-color: $light-color;
  color: white;
  word-break: break-word;

  &:hover {
    font-weight: bold;
    text-shadow: 1px 1px 10px $color;
  }

  &:active {
    opacity: 0.8;
    font-size: small;
  }
}