@import "styles/variables";

.content {
  padding: 10px;
  
  &__item {
    margin-bottom: $space-0;

    &__label {
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      border-radius: 6px;
      background-color: $light-color;
      box-shadow: 5px 5px 10px $lighter-color;
      color: white;
    }

    &__title {
      min-width: 100%;
      margin: 0 -10px;
      padding: 0 15px;
      border-bottom: 1px solid $light-color;
      border-radius: 6px 6px 0 0;
      background-color: $light-color;
      color: white;
      font-size: x-large;
      text-align: start;
    }

    &__content {
      box-sizing: border-box;
      width: 100%;
      padding: 0 10px;
      border: 1px solid $light-color;
      border-radius: 9px;
      background-color: $lightest-color;
      box-shadow: 5px 5px 10px $lighter-color;
      text-align: start;

      &__string {
        margin: 5px;
      }
    }
  }
}

@mixin seq-fade($number) {
  .content > :nth-child(#{$number}) {
    animation: fade-in 1s forwards (#{$number * 0.1}s);
    opacity: 0;
  }
}

@for $i from 1 through 5 {
  @include seq-fade($i);
}
