@function enlight($color, $number) {
  @return mix($color, white, $number);
}

@keyframes fade-in {
  0% {opacity: 0; transform: translateY(-10px); filter: saturate(0) blur(5px);}
  80% {opacity: 1; transform: translateY(5px); filter: saturate(0) blur(1px)}
  100% {opacity: 1; transform: translateY(0)}
}

$medium-display-breakpoint: 600px;
$small-display-breakpoint: 400px;
$extra-small-display-breakpoint: 300px;

$color: rgb(20, 70, 64);
$light-color: enlight($color, 70%);
$lighter-color: enlight($color, 30%);
$lightest-color: enlight($color, 10%);

$space-0: 10px;
