@keyframes fade-in {
  0% {
    transform: translateY(-3px);
    filter: saturate(0) blur(3px);
    opacity: 0;
  }

  60% {
    transform: translateY(3px);
    filter: saturate(0.5) blur(1px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

$medium-display-breakpoint: 600px;
$small-display-breakpoint: 350px;
$extra-small-display-breakpoint: 300px;

$color: var(--color);
$light-color: var(--light-color);
$lighter-color: var(--lighter-color);
$lightest-color: var(--lightest-color);

$space-0: 10px;
